.main-logo {
  display: block;
  width: 36px;
  height: 20px;
  margin: 0 auto;
  text-indent: -999999px;
  background: {
    image: url('../../images/koazee-mtn-sml-logo.png');
    repeat: no-repeat;
    position: 0 0;
    color: transparent;
  }
}
h2.text-center{
	margin-top: 0;
}