@media screen and (max-height: 680px) {
  section {
    height: auto;
    &.hero {
      // height: 600px;
    }    
  }
}

@media screen and (min-width: 768px) {
	section{
		&.hero{
			h1{
			  margin: 60px 0 0;
			  font-size: 42px;
			}
			.lead{
				font-size: 16px;
			}
		}
		&.guests{
			li, .guest{
				&.swiss{
					background-size: 100% auto;
				}
			}			
		}	
	}
}
@media screen and (min-width: 980px) {
  section {
  	&.hero{
  		h1{
  		  font-size: 52px;
  		}
  		.lead{
  			font-size: 18px;
  		}
  	}
    &.process {
    	height: 360px;

	  	.koazee-container{
	  	  min-height: 360px;
	  	}
	    ul{
	    	padding-top: 90px;
	    	padding-bottom: 20px;
        border: none;
	    }      

      li{
      	max-width: 220px;
      	padding-left: 0;
      	padding-right: 0;
      	position: relative;

      	&.match{
      		margin: 0 125px;

      		&:before, &:after{
      			display: block;
      			width: 70px;
      			height: 100%;
      			content: '';
      			top: 0;
      			position: absolute;
      			@include add-prefix(transform, rotate(-90deg));

      			background: {
      				image: url('../../images/icons/long-arrow.svg');
      				position: center;
      				repeat: no-repeat;
      				size: 280px 90px;
      			}
      		}
      		&:before{
      			left: -70px;
      		}
      		&:after{
      			right: -70px;
      		}
      	}
      }
    }  
    .koazee-title{
      position: relative;
      span{
        &:before, &:after{
          display: block;
          height: 2px;
          width: 33%;
          content: '';
          background-color: #E6E6E5;
          position: absolute;
          top: 8px;
        }
        &:before{
          left: 18px;
        }
        &:after{
          right: 18px;
        }
      }
    }  
  }

  footer{
  	p{
  		float: left;
  	}
  	a{
  		float: right;  		
  	}
  }
}
