@mixin gradient($gradient-light, $gradient-dark) {
  background: $gradient-dark;
  background: -moz-linear-gradient(top,  $gradient-light, $gradient-dark);
  background: -webkit-gradient(linear, left top, left bottom, from($gradient-light), to($gradient-dark));
  background: -webkit-linear-gradient(top, $gradient-light 0%, $gradient-dark 100%);
  background: -o-linear-gradient(top, $gradient-light 0%, $gradient-dark 100%);
  background: -ms-linear-gradient(top, $gradient-light 0%, $gradient-dark 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$gradient-light}', endColorstr='#{$gradient-dark}');
}
@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin add-prefix($property, $value, $prefixes: webkit moz ms o spec){
  @each $p in $prefixes {
    @if $p == spec {
      #{$property}: $value;
    } @else{
      -#{$p}-#{$property}: $value;
    }
  }
}